
body {
	background-color: lightBlue;
}

.main {

	text-align: center;
	/*margin-left: auto;
	margin-right: auto;*/

}

/* TITLE */

h1 {
	text-align: center; 
	font-weight: bolder;
	font-size: 2em;
	font-family: sans-serif;
	border: solid black; 
	border-radius: 20px;
	padding: 10px;

}

h1#title {
	width: 250px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: inline-block;
}

/* HELP BUTTON */

h2#help {
	font-size: 2em;
	font-weight: bold;
	margin-left: 80%;
	margin-right: 20%;
	font-family: serif;
	text-align: right;
	margin-top: 0px;
	margin-right: 30px;
	top: 0px;
}

/*#help {
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0px;
}*/

/* ADD / PLUS BUTTON FOR FORM */

form {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.item {
	margin: 10px;
	text-align: center;
}


#button{
    display: inline-block;
    height:20px;
	width:70px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

#add-button {
	text-align: center;
	font-weight: bold;
	font-family: serif;
	font-size: 1.5em;
	padding-top: 20px;
}

.plus {
	font-size: 1em;
	font-weight: bolder;
	color: red;
	background-color: lightGrey;
	border-radius: 20px;
}

.checkbox {
	font-size: :;em;
}

/* DELETE BUTTON & STYLING */

.delete-item {
	margin-left: 4px;
}

img {
	max-height: .9em;
}

/*h2#add-button {

	width: 50px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;

} */

/* LIST ITEMS */

li {

	text-align: center;
	padding: 10px 0 5px 0;
}

.remove {
	color: red;
}

