
body {
	background-color: lightBlue;
}

.main {

}

h1 {
	text-align: center; 
	font-weight: bolder;
	font-size: 2em;
	font-family: sans-serif;
	border: solid black; 

	border-radius: 20px;
	padding: 10px;
}

h1#title {
	
	width: 250px;
	
	background-color: white;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

h2 {
	text-align: center;
	font-weight: bold;
	font-family: serif;
	font-size: 1.5em;
	border: solid black;
	border-radius: 40px;
	padding: 2px;
}

h2#add-button {

	width: 50px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;

}

li {

	text-align: center;
	padding: 10px 0 5px 0;
}

.remove {
	color: red;
}


p {

}

#main-list {

}

.list-item {

}