
body {
	background-color: lightBlue;
}

.main {

	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

/* TITLE */

.hgroup {

	margin-left: auto;
	margin-right: auto;
	display: relative;
}


h1 {
	text-align: center; 
	font-weight: bolder;
	font-size: 2em;
	font-family: sans-serif;
	border: solid black; 
	border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	-ms-border-radius: 20px;
	padding: 10px;
	top: 30px;
	margin: 20px;
}

h1#title {
	width: 250px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px:
}

/* HELP BUTTON */

h2 {
	text-align: right;
	display: inline-block;
}

#help {
	font-size: 1.3em;
	font-weight: bold;
	font-family: serif;
	text-align: right;
	top: 20px;
	right: 80px;
	position: absolute;
}

#help-info {
	display: none;
}

/*#help {
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0px;
}*/

/* ADD / PLUS BUTTON FOR FORM */

form {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.item {
	/*margin: 10px;*/
	text-align: left;
	/*margin-left: auto;
	margin-right: auto;*/
}

.list {
	text-align: center;
	margin-left: 620px;
	margin-right: 300px;
	padding-top: 20px;
}

#button{
    display: inline-block;
    height:20px;
	width:70px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	text-align:center;
	margin-top:2px;
}

#add-button {
	text-align: center;
	font-weight: bold;
	font-family: serif;
	font-size: 1.5em;
	padding-top: 20px;
}

.plus {
	font-size: 1em;
	font-weight: bolder;
	color: red;
	background-color: lightGrey;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
}

.checkbox {
	font-size: :;em;
}

/* DELETE BUTTON & STYLING */

.delete-item {
	margin-left: 4px;
}

img {
	max-height: .9em;
}

/*h2#add-button {

	width: 50px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;

} */

/* LIST ITEMS */

li {

	text-align: center;
	padding: 10px 0 5px 0;
}

.remove {
	color: red;
}

